
			* {
				font-family: Arial, Verdana, sans-serif;
				color: #F0F8FF;
				text-align: center;}
			body {
  background: url(BOTW.JPG);
}
			#content {
				overflow: auto;}
			#nav, #feature, #footer {
				margin: 1%;}
			.column1, .column2, .column3 {
				width: 31.3%;
				float: left;
				opacity: .8;
  				margin: 1%;}
			.column3 {
				margin-right: 0%;}
			li {
				display: inline;
				padding: 0.5em;
				opacity: .8;
  				margin: 1%;}
			#nav, #footer {
				background-color: #606472;
				padding: 0.5em 0;
				opacity: .8;
 				 margin: 1%;}
			#feature, .article {
				height: 10em;
				margin-bottom: 1em;
				background-color: #606472;
				opacity: .8;
  				margin: 1%;}
		</style>
