* {
				font-family: Arial, Verdana, sans-serif;
				color: #F0F8FF;
				text-align: center;}
			body {
  background: url(https://i.stack.imgur.com/xfn1X.jpg);
}
			#content {
				overflow: auto;}
			#nav, #feature, #footer {
				margin: 1%;}
			.column1, .column2, .column3 {
				width: 31.3%;
				float: left;
				margin: 1%;}
			.column3 {
				margin-right: 0%;}
			li {
				display: inline;
				padding: 0.5em;}
			#nav, #footer {
				background-color: #8B008B;
				padding: 0.5em 0;}
			#feature, .article {
				height: 10em;
				margin-bottom: 1em;
				background-color: #8B008B;}
h1 { 
   font-family: 'OrkneyRegular'; 
   font-weight: normal; 
   font-style: normal; 
}
		</style>
